
.container {
  width: 80%;
  margin: auto ;/* why the 10% after auto*/
  font-family: sans-serif;
}

.container p {
  line-height: 1.4;
}

/* why did he combine .main image and description what does the box thing do  */

.main-image {
  float: left;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.description {
  float: right;
  padding-left: 15px;
  width: 50%;
  box-sizing: border-box;
}

.social {
  list-style-type: none;
}
/* why the padding left*/

.social li {
  display: inline-block;
  padding-right: 5px;
}

.social li img{
  max-width: 35px;
  height: auto;
}

.footer {
  clear: both;
  border-top: 1px solid #ccc;
}
